/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	scroll-behavior: smooth;
}

.left-50 {
	left: 50%;
}
.right-50 {
	right: 50%;
}
.top-50 {
	top: 50%;
}

.-z-1 {
	z-index: -1;
}

.px-11 {
	padding-left: 3.6rem /* 40px */;
	padding-right: 3rem /* 40px */;
}

.gcsu-width-height {
	width: 100px;
	height: 100px;
}

.secondary-title {
	@apply text-3xl font-bold;
}

.secondary-title::before {
	content: "";
	@apply block w-12 h-2 bg-theme rounded-full mb-1;
}

.section-paragraph {
	@apply text-secondary my-6 w-full max-w-3xl;
}

[id] {
	scroll-margin-top: 100px;
}

.left-percentage {
	left: 5%;
}

.h-screen-partial {
	height: 80vh;
}

.nav-dot {
	transition: background 200ms, border-color 200ms;
}

.selected-circle {
	@apply border-theme bg-theme;
}

.nav-dot:hover span {
	opacity: 1;
}

.footer-p {
	margin: 0;
	text-align: center;
	color: #9191a4;
}
.margin-top-content {
	margin-top: 12rem;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	column-gap: 30px;
	row-gap: 30px;
	margin-top: 20px;
	justify-items: center;
}
.grid-container > div {
	text-align: center;
	align-self: center;
}
.grid-container > div > p {
	margin-top: 10px;
}

.profile-picture{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5%;
	align-self: auto;
}